/**
 * Use id when need to style or manipulate a unique element.
 * Use class for styling multiple elements that share the same style.
 *
 * @format
 */

/* hovering over h1 makes it jump! */

.headerStyle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	color: #2c3e50;
	font-family: "Macondo", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	animation: bounce 1s ease;
}

/*pseudo-class*/
h1:hover {
	transform: translateY(-20px);
	animation: jump 0.5s ease;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}

.bodyStyle {
	margin: 20px;
	position: relative;
	z-index: 1;
}
h2 {
	font-family: "Macondo", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
}

#privacyRights {
	line-height: 1.5;
	font-family: "Buda", cursive;
	font-weight: 1000;
	font-style: normal;
	font-size: 18px;
}

h2 + p {
	font-weight: 1000;
}

h3 {
	font-family: "Macondo", cursive;
	font-weight: 400;
	font-style: normal;
	margin: 20px;
	animation: bounce 1s ease;
}

p {
	line-height: 1.5;
	font-family: "Buda", cursive;
	font-weight: 1000;
	font-style: normal;
	font-size: 18px;
}

a {
	font-family: "Buda", cursive;
}

/*pseudo-element*/
p::first-letter {
	font-size: 2em;
	color: rgb(40, 76, 23);
}
/*pseudo-element --> highlighting*/
::selection {
	background-color: rgba(82, 155, 5, 0.517);
	color: black;
}

#introStyle {
	display: flex;
	align-items: flex-start;
}

figcaption {
	font-family: "Buda", cursive;
	font-weight: 1000;
	font-style: normal;
	font-size: 18px;
}

.buda-light {
	font-family: "Buda", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
}

#bgColour {
	background-color: rgba(68, 85, 11, 0.556);
}

.textFont {
	font-family: "Buda", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
}

.links {
	font-family: "Buda", serif;
	font-weight: 300;
	font-style: normal;
	color: rgba(36, 44, 2, 0.648);
	font-size: 18px;
	cursor: pointer;
}

/*pseudo-class*/
a:visited {
	color: rgb(128, 0, 100);
}

#buttonStyle {
	background-color: rgba(31, 38, 0, 0.648);
	font-family: "Buda", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	color: rgb(206, 203, 203);
	padding: 10px;
	transition: background-color 0.3s ease;
}

/*pseudo-class*/
#buttonStyle:hover {
	background-color: #0f595b;
	cursor: pointer;
}

/*box-model with margin, padding, and border*/
#buttonsLayout {
	padding: 20px;
	border: 5px;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	cursor: pointer;
	margin-right: 300px;
}

#imgStyle {
	height: 500px;
	width: 750px;
}

#captionLayout {
	width: 50%;
	display: flex;
	margin-left: 20%;
	margin-top: 30px;
}

#figureLayout {
	margin-top: 40px;
}

.listPosition {
	display: flex;
	justify-content: end;
}
.listLayout {
	text-align: center;
	margin: 20px 0;
	justify-content: end;
	cursor: pointer;
}

/*combinator*/
h2 ~ p {
	font-style: oblique;
}
/*combinator*/
#featured-story h2 {
	color: rgb(44, 74, 11);
}

.listLayout ul {
	list-style: none;
	padding: 0;
}

.listLayout li {
	display: inline;
	margin: 0 15px;
	cursor: pointer;
}

/*pseudo-class*/
.hoverImg {
	width: 300px;
	transition: transform 0.3s ease;
}

/*pseudo-class*/
.hoverImg:hover {
	transform: scale(1.1);
}

#pStyle {
	width: 70%;
}

.loginAside {
	width: 250px;
	background-color: rgb(206, 203, 203);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	margin-right: 150px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	justify-content: center;
	margin-top: 40px;
	border-radius: 10%;
}

#footerStyle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: rgba(31, 38, 0, 0.648);
	color: rgb(206, 203, 203);
	z-index: 2;
}

#footerStyle .listPosition {
	margin-right: auto;
	cursor: pointer;
}

#footerStyle ul {
	list-style: none;
	padding: 0;
}

#footerStyle li {
	display: inline;
	margin: 0 10px;
}

#createStory {
	margin: 20px;
}

.hidden {
	visibility: hidden;
}

#hiddenButtonStyle {
	background-color: rgba(31, 38, 0, 0.648);
	font-family: "Buda", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
	color: rgb(206, 203, 203);
	padding: 10px;
	transition: background-color 0.3s ease;
}

/*pseudo-class*/
#hiddenButtonStyle:hover {
	background-color: #0f595b;
}

/* HIDDEN USING DISPLAY IN CSS FILE */

#hiddenSection {
	margin: 20px;
}

#smallCaptionLayout {
	margin-left: 120px;
	margin-top: 20px;
}

/* FLEXBOX */
#storiesLayout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-basis: 0%;
}

#frozenFigureLayout {
	display: none;
}

.footerLayout {
	color: rgb(206, 203, 203);
}

#linkColour {
	color: rgb(206, 203, 203);
	cursor: pointer;
}

#loginFont {
	line-height: 1.5;
	font-family: "Buda", cursive;
	font-weight: 1000;
	font-style: normal;
	font-size: 18px;
}

#smallImgFigureLayout {
	margin-top: 40px;
	overflow: hidden;
	cursor: pointer;
}

#smallImgStyle {
	width: 400px;
	height: 200px;
	transition: opacity 0.5s ease;
	cursor: pointer;
}

/*pseudo-class*/
#smallImgFigureLayout:hover #smallImgStyle {
	opacity: 0.5; /*when hovering, change opacity */
	cursor: pointer;
}
